@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,100");

$font-body: "Roboto", sans-serif;

$background: #fff;
$red: #e65c43;
$light-red: #f25c43;
$grey: #666;
$light-grey: #f5f6f6;
$footer: #30353d;

$bg-image: "../images/bg.gif";
$logo-image: "../images/logo.png";
$social-image: "../images/social-media.png";
